.container{
	max-width: 1440px;
	margin: 0 auto;
	padding: 0px 20px;
}
.title-img{
width: 90px;
}
.img{
width: 90px;
}
.main-line{
	display: none;
width: 60px;
height: 60px;
}
.line{
background-color: 	rgb(0, 0, 0);
width: 60px;	
height: 8px;
margin-top: -1px;
border-radius: 10px;
}
.head{
	position: fixed;
	background-color: white;
	width: 100%;
	margin-top: -35px;
	padding: 10px 0;
	box-shadow: 0px 4px 20px grey ;
}
.title-main{
	
display: flex;
align-items: center;
justify-content: space-between;
}
.title-ul{
display: flex;
align-items: center;
justify-content: center;
gap: 70px;
list-style: none;
text-decoration: none;
}
a{
	text-decoration: none;
}
.title-ul a:hover{
transition: 0.2s ease;
transform: scale(1.2s);
color: orange;
border-bottom: 2px solid rgb(255, 153, 0);
}
.title-ul a{
padding-bottom: 6px;
border-bottom: 2px solid transparent;
}
.big-photo{
width: 1400px;
}
.title-bigphoto{
	background-image: url("./image/big-photo.png");
	background-repeat: no-repeat;
	background-size: 100%;
}
.title-text{
color: white;
font-size: 40px;
font-family: sans-serif;
}
.title-text1{
max-width: 890px;
color: white;
font-family: sans-serif;
}
.title-p{
color: white;
font-family: sans-serif;

}
.btn1{
width: 150px;
height: 40px;
border-radius: 20px;
background-color: rgb(255, 166, 0);
border: none;
}
.btn1:active{
transform: scale(0.80);
transition: 0.2s ease;
}
.btn2{
width: 150px;
height: 40px;
border-radius: 20px;
color: white;
background-color: rgba(255, 166, 0, 0);
border: 2px solid rgba(255, 255, 255, 0.493);
}
.btn2:active{
transform: scale(0.80);
transition: 0.2s ease;	
}
.title-bigphoto{
text-align: center;
}
.containerr{
max-width: 890px;
margin: 0 auto;
}
 
.text2{
font-family: sans-serif;
text-align: center;
}
.title-phone{
	display: flex;
align-items: center;

}
.title-p1{
width: 232px;
height: 36px;
font-family: sans-serif;
color: orangered;
}
.title-text3{
max-width: 561px;
height: 114px;	
font-family: sans-serif;	
}
.title-p2{
max-width: 330px;
height: 76px;
color: grey;
font-family: sans-serif;
}
.near-footer{
	background-image: url("./image/houselogo.png");
	background-size: 100% 400px;	
	height: 516px;
	background-repeat: no-repeat;
}
.near{
margin: 0 auto;
max-width: 500px;
padding-top:100px ;
}
.title-text4{
max-width: 503px;
height: 57px;
font-family: sans-serif;
color: white;
text-align: center;
}
.title-p3{
font-family: sans-serif;
color: white;
}
.btn3{
	display: block;
width: 173px;
height: 64px;
border-radius: 10px;
background-color:orangered;
border: none;
color: white; 
font-family: sans-serif;
font-weight: 700; 
}
.flex{
display: flex;
align-items: center;
gap: 20px;
max-width: 366px; 
margin: 0 auto;
}
.btn3:active{
	transform: scale(0.80);
	transition: 0.2s ease;
}
.btn4{
	display: block;
width: 173px;
height: 64px;
border-radius: 10px;
background-color: rgba(0, 0, 0, 0);
border: 2px solid rgb(255, 255, 255);
font-weight: 700;
color: white;
font-family: sans-serif;
}
.btn4:active{
transform: scale(0.80);
transition: 0.2s ease;	
}
.last{
max-width: 1210px;
margin: 0 auto;
display: flex;
align-items: center;
justify-content: space-between;
}
.last-img{
width: 90px;
}
.last-p{
color: rgb(75, 75, 75);
font-family: sans-serif;
}
.apps{
display: flex;
align-items: center;
gap: 24px;
}
.double-img img{
	max-width: 600px;
}

@media screen and (max-width: 1024px)  {
	.main-line{
		display: block;
	}
	.title-texts{
		display: none;
	}

.title-text1{
	font-size: 40px;
}
.double-img img{
	max-width: 400px;

}

.title-phone{

	display: block;
}

.title-phone img{
width: 400px;
display: block;
margin: 0 auto;
}

.title-account{
	text-align: center;
}

.title-p1{
	margin: 20px auto;
}

.title-text3{
	margin: 20px auto;
}

.title-p2{
	margin: 20px auto;
}


.btn3{
	width: 142px;
	height: 50px;
}

.btn4{
	width: 142px;
	height: 50px;
}


.last-img{
	width: 80px;
}

.apps img{
	width: 30px;
}

.img{
	width: 80px;
 
}



}

@media screen and (max-width: 768px)  {
.containerr{

	padding-top: 50px;
	height: 350px;
}
.title-bigphoto{
	background-size: 150% 400px;
}

.head{
	margin-top: -10px;
}

.near-footer{
height: 400px;
background-size: 150% 370px;
}

}
@media screen and (max-width: 640px)  {
.img{
width: 60px;
}
.main-line{
	width: 45px;
	height: 45px;
}

.line{
width: 45px;
margin-top: -3px;
}
.double-img img{
	width: 300px;
}

.title-phone img {
	width: 260px;
}

.last-img{
	width: 60px;
	margin: 20px auto;
	display:block;
}

.last{
	display: block;
	
}

.apps{
	width: 110px;
	gap: 15px;
	
	margin: 0 auto;
}
.apps img{
	width: 23px;
}

.last-p{
 text-align: center;

}

.near-footer{
	background-size: 150% 350px;
	}

.title-text4{
font-size: 24px;
text-align: center;
}
.near{
padding-top: 20px;
}
.title-p3{
font-size: 16px;
text-align: center;
margin-top: -10px;
}

.flex{
display: block;
width: 142px;
}
.btn3{
margin-bottom: 15px;
height: 40px;
}

.btn4{
	height: 40px;
}

.double-img img{
	width: 250px;
}

.title-text1{
font-size: 24px;
}
.title-text{
	margin-top: 45px;
	font-weight: bold;
	font-size: 24px;
	
}
.btn1{
margin-bottom: 10px;
}
.title-text3{
font-size: 27px;
}
.containerr{
	padding-top: 50px;
	height: 380px;
}
.title-bigphoto{
	background-size: 170% 450px;
}

.line{
margin-top: -8px;
}
.main-line{
	border: 1px solid red ;
	height: 30px;
}
}
